<style>
    table {
        font-family: Arial;
        border-collapse: collapse;
        text-align: center;
        border: 1px solid black;
    }
    
    tbody tr:nth-child(3n) {
        border-bottom: 3px solid black;
    }

    th {
        background-color: black;
        color: white;
    }
        th > span {
            padding: 20px;
        }

    td {
        border: 1px solid black;
    }
        td > span {
            padding: 20px;
        }
</style>
<table>
    <thead>
        <tr>
            <th><span>Element</span></th>
            <th><span>Threshold</span></th>
            <th><span>Dataset</span></th>
            <th><span>Seed</span></th>
            <th><span>Sample Universe</span></th>
            <th><span>Samples</span></th>
            <th><span>Positive Samples</span></th>
            <th><span>Negative Samples</span></th>
            <th><span>True Positives</span></th>
            <th><span>False Positives</span></th>
            <th><span>True Negatives</span></th>
            <th><span>Accuracy</span></th>
            <th><span>Precision</span></th>
            <th><span>Recall</span></th>
            <th><span>F1</span></th>
            <th><span>R2</span></th>
            <th><span>RMSE</span></th>
        </tr>
    </thead>
    <tbody>
#rows
    </tbody>    
</table>                
