        <tr>
            <td><span>#element</span></td>
            <td><span>#threshold</span></td>
            <td><span>#dataset</span></td>
            <td><span>#seed</span></td>
            <td><span>#sample_universe</span></td>
            <td><span>#n_samples</span></td>
            <td><span>#positive_samples</span></td>
            <td><span>#negative_samples</span></td>
            <td><span>#true_positives</span></td>
            <td><span>#false_positives</span></td>
            <td><span>#true_negatives</span></td>
            <td><span>#accuracy</span></td>
            <td><span>#precision</span></td>
            <td><span>#recall</span></td>
            <td><span>#f1</span></td>
            <td><span>#r2</span></td>
            <td><span>#rmse</span></td>
        </tr>